@font-face {
  font-family: 'Arial Regular';
  src: url('../font/ArialMT.eot');
  src: url('../font/ArialMT.eot?#iefix') format('embedded-opentype'),
  url('../font/ArialMT.woff') format('woff'),
  url('../font/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }